<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head><title>会议</title></head>
    <body>
        <h1> 会议号为：{{number}}</h1>
        <p>
            <p>
                这是一个聊天室QWQ
            </p>
            <form method="post" action="/conference">

                <p>content of char<br>
        
                    <textarea rows=4 cols=55 name="chatroom"></textarea></p>
        
                <p><br>
        
                    <textarea rows=4 cols=55 name="substance"></textarea></p>

                <input type="submit">

            </form>
        </p>
    </body>
</html>