<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head><title>陈翔的页面</title></head>
    <body>
        <h1>登录界面</h1>
        <form method="POST" action="/login">
            <p>
                <br>account:<br>  <input type="text" name='account'>
            </p>
            <p>
                <br>password:<br> <input type='password' name='password'>
            </p>
            <input type="submit" value='登录' name='login'>
            <br>
        </form>
        <form method="GET" action="/register">
            <input type="submit" value='注册' name='register'>
        </form>
    </body>
</html>