<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head><title>陈翔的注册页面</title></head>
    <body>
        <h1>操作页面</h1>
        <p>
            <form action="/register" method="POST">
                <p>
                    <br>账户名:<br>  <input type="text" name='account'>
                </p>
                <p>
                    <br>密码:<br> <input type='password' name='password'>
                </p>
                <p>
                    <br>确认密码:<br> <input type='password' name='repassword'>
                </p>
                <input type="submit" value='注册' name='register'>
            </form>
        </p>
    </body>
</html>